*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Raleway';
  font-weight: 500;
}

.container {
  max-width: 1170px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.polo-container {
  max-width: 1440px;
  margin: 0 auto;
}

.darcen_img{
    mix-blend-mode: darken;
}

a{
    text-decoration: none;
}

select{
  border: none;
}