.main{
    margin-top: 73px;
    .main_wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .inside_main--box{
            display: flex;
            width: 48%;
            height: 278px;
            padding: 51px 3px;
            font-size: 12px;
            background-color: #F2F3F5;
            margin-bottom: 68px;
            .text_inside{
                max-width: 259px;
                height: 75px;
                padding-right: 10px;
                padding-left: 20px;

                & h4{
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 22px;
                    text-transform: uppercase;
                    color: #4B4844;
                }

                & p{
                    font-family: 'Raleway';
                    font-style: normal;
                    font-weight: 300;
                    font-size: 12px;
                    line-height: 127.5%;
                    display: flex;
                    align-items: center;
                    color: #4B4844;
                }
            }

            .text_inside--nensi{
                padding: 20px;
            }

        }
    }
}

.slider_box{
    max-width: 102px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

    .slider_box--paragraph{
        margin: 0 15px;
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 110%;
        color: rgba(52, 52, 52, 0.5)
    }

    .slider_black{
        color: #4B4844;
        font-weight: 600;
    }
}

.middle_main_box--btn{
    border: none;
    padding: 13px 15px;
    display: block;
    background-color:  #FF9619;
    margin: 60px auto;
    cursor: pointer;

    &:hover{
        background-color: #ffb255;
        color: #ebc802;
    }

    .middle_main_box--link{
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        text-transform: uppercase;
        color: #FFFFFF;
    }
}

.main_last--section{
    background-color:  #A9C2BE;
    margin-bottom: 254px;

    .inside_last-section--container{
        display: flex;

        & img{
            position: relative;
        }
    }

}

.main_last--form{
    max-width: 470px;
    height: 380px;
    display: flex;
    flex-direction: column;
    background-color: #F2F3F5;
    text-align: left;
    margin-top: 30px;
    position: sticky;
    margin-left: -30px;
    padding: 30px;

    .main_last--form_input{
        width: 371px;
        margin: auto;
        border: none;
        padding: 10px;
        background-color: transparent;
        border-bottom: 1px solid black;
        z-index: 1;
    }
}

@media only screen and (max-width: 374px) {
   
}